
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
label{
  color:rgb(209, 179, 255);
  font-family: Helvetica;
  font-size: 13px;
}
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; font-size: 15px;} /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; font-size: 20px;} /* allow space for check mark */

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 18px;
    font-family: 'Muli';
    font-weight: 200;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

button {
    background-color: rgb(209, 179, 255);
    border: none;
    border-radius: 4px;
    color: #800080;
    opacity: 0.5;
    transition: 0.3s;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}

button:hover {
    opacity: 1;
    color: #e600e6;
}

button:active {
  opacity: 1;
  color: #e600e6;
}

.karmaButton{
  position:absolute;
  top: 5px;
  left: 5px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 2px;
  font-family: 'Karma', sans-serif;
  font-size: 20px;
  opacity: 0.7;
}
